
<br><br>
<div>
	<div class="row-fluid">
        <div class="span2" >
		    <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
        </div>

        <div class="span8">
          <h1>test

          </h1>
            <h3>{{loggedInUser.username}}</h3>
            <h6>Email:{{loggedInUser.email}}</h6>
            <h6>Title: loggedInUser.title</h6>
            <!-- <h6>Company Name:{{loggedInUser.companyName}}</h6>
            <h6>Date Applied: {{loggedInUser.applyDate}}</h6> -->
            <h6><a [routerLink]="['/job']">More... </a></h6>
        </div>

        <div class="span2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Action
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                    <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                </ul>
            </div>
        </div>
</div>
</div>
