<div class="navbar navbar-expand-md custom-navbar navbar-light bg-light navbar-fixed-top">

  <a class="navbar-brand" [routerLink]="['/home']">JobTracker<img src="https://img.icons8.com/fluent/96/find-matching-job.png" alt="JobApp Logo" height="40"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="!checkLogin()" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right line-inline">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/register']">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
      </li>
      </ul>
    </div>
    <div *ngIf="checkLogin()" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-right line-inline">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/userprofile']">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/appliedjobs']">Job App List <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/logout']">Logout</a>
      </li>

    </ul>

  </div>
</div>
