<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" [routerLink]="['/home']">JobTracker<img src="https://img.icons8.com/officel/2x/new-job.png" alt="JobApp Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="!checkLogin()" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/register']">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/job']">Job App List <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
      </li>
      </ul>
    </div>
    <div *ngIf="checkLogin()" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul>
      <li class="nav-item">
        <a class="nav-link" (click)="userProfile()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/logout']">Logout</a>
      </li>
      <!-- <li><app-logout></app-logout></li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Not Worky" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
