
<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Contact Us</h2>
				<h4>We would love to hear from you !</h4>
			</div>
    </div>

		<div class="col-md-9">
			<div class="contact-form">
        <form action="https://formspree.io/mnqgzrpo" method="POST" enctype="multipart/form-data">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">First Name:</label>
				  <div class="col-sm-10">
					<input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Last Name:</label>
				  <div class="col-sm-10">
					<input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Comment:</label>
				  <div class="col-sm-10">
          <textarea class="form-control" rows="5" id="comment" placeholder="Enter your comment "></textarea>

				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
          </div>

        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- <section class="section">
  <div class="container">
      <div id="contact" class="sectionContact aos-int">
      <br/>
      <br/>
      <p class="subtitle is-2">Let's Connect
      <img src="https://img.icons8.com/cotton/2x/iphone-x.png" height="60px" width="60px"/>
      </p>
      <div class="columns is-multiline">
          <div class="column is-6 is-offset-3">
          <form action="https://formspree.io/mnqgzrpo" method="POST">
          <div class="field">
              <label class="label">Name</label>
              <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" name="name" placeholder="Your Name"></input>
              <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
              <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
              </div>
          </div>
          <div class="field">
          <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                  <input class="input" type="email" name="_replyto" placeholder="Your email"></input>
                  <span class="icon is-small is-left"><i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"></i></span>
              </div>
          </div>
          <div class="field">
          <label class="label">Leave a Message</label>
              <div class="control">
                  <textarea class="textarea" name="textarea" placeholder="Leave me a message. I will get back to you promptly."></textarea>
              </div>
          </div>
          <div class="field field is-grouped is-grouped-centered">
              <div class="control">
              <button type="submit" class="button is-link is-small is-pulled-right is-light">Submit<br/>
              <i class="fas fa-plane fa-w-16"></i></button>
              </div>
          </div>
          </form>
      </div>
      </div>
      </div>
  </section> -->
