<!-- <h1> title <span [ngClass]="getWarningLevel()">{{getJobAppCount()}}</span></h1>
<button type="button" class="btn btn-primary">Tasks: <span class="badge badge-light">{{getJobAppCount()}}</span></button>
<h2>Test space</h2>
<form *ngIf="!selected" class="form form-inline">
  <label for="task">New Task:</label>
  <input class="form-control" type="text" name="task" [(ngModel)]="newAppJob.title" placeholder="Enter New Task*"/>
  <button class="btn btn-success" type="submit" (click)="addJobApp(newAppJob)">Submit</button>
</form>
<input class="checkbox" name="showComplete" [(ngModel)]="showComplete"/>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" *ngIf="!selected && !editJobApp">
    <ng-container>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>

          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Completed</th>
          <th scope="col">Mark</th>
          <th scope="col">Remove</th>
      </tr>
    </thead>
          <tbody>

          <tr *ngFor="let app of jobApps | incomplete: showComplete" [ngClass]="app.enabled ?  'pink': ''" >
            <td >{{app.id}}</td>

            <td (click)="displayJobApp(app)">{{app.title}}</td>
            <td>{{app.description}}</td>
            <td>{{app.enabled}}</td>
            <td><input class="form-check" type="checkbox" name="completed" [(ngModel)]="app.enabled" (change)="updateJobApp(app)"/></td>
          <td><button (click)="deleteJobApp(app.id)" class="btn btn-danger">X</button></td>

          </tr>
          </tbody>
    </ng-container>
    </table>
</div>

<div *ngIf="selected && !editJobApp" class="card" style="width: 18rem;">
  <div class="card-body">
      <h3 class="card-title">{{selected.title}}</h3>
      <p class="card-text">Id: {{selected.id}}</p>
      <p class="card-text">Description: {{selected.description}}</p>
      <p class="card-text">Completed:{{selected.enabled}}</p>
      <button (click)="setEditJobApp()" class="btn btn-warning">Edit</button>
      <button (click)="displayTable()" class="btn btn-secondary">Home </button>
      <div class="card-footer text-muted">JobTracker</div>
    </div>
</div>




<form *ngIf='editJobApp'>
  <input type="text" name="title" placeholder="Enter title" [(ngModel)]="editJobApp.title"/>
  <input type="text" name="companyName" placeholder="Enter Company Name" [(ngModel)]="editJobApp.companyName"/>
  <input type="text" name="description" placeholder="Enter description" [(ngModel)]="editJobApp.description"/>
  <input type="text" name="completed" [(ngModel)]="editJobApp.completed"/>
  <button (click)="editJobApp = null">Cancel</button>
  <button (click)="updateJobApp(editJobApp)" class="btn btn-info">Save</button>
</form> -->
